*{box-sizing: border-box;
	background-color: #777;
	text-align:center;
}

body{

}

header{
	
    padding: 20px;
    background-color: #ebebeb;
    width: 960px;
    font-family: Arial;
    margin-left: 16%;
}

nav{
	
    padding: 20px;
    background-color: #ebebeb;
    width: 960px;
    margin-left: 16%;
    margin-top: 10px;
    margin-bottom: 15px;
}

footer{
	
	background-color: #ebebeb;
	padding: 20px;
	width: 960px;
	clear: both;
	margin-left: 16%;
	


}

section{
	 background-color: #ebebeb;
     width: 495px;
     float: left;

}

aside{
	background-color: #ebebeb;
	float: right;
	padding: 150px;
	margin-right: 150px;

}

article{
	background-color: #777;
	width: 945px;

}

.clear{
		
}

h1{
	background-color: #ebebeb;

}


p{
	background-color: #ebebeb;
}